html, body {
   margin: 0; 
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.d-flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 14pt;
}